#bk-menu-logo {
  width: 85%;
}

#bk-request-button {
  min-height: 2.4em;
  font-size: 1.25vmax !important;
  white-space: nowrap;
}

#bk-identity-small-picture {
  min-width: 1.25em;
  width: 100%;
}

.bk-identity-shortdesc {
  font-size: 0.6em;
  color: rgba(0,0,0,.4);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.bk-identity-shortdesc input {
  font-size: 0.6em !important;
}

.bk-identity-card {
  margin-left: auto;
  margin-right: auto;
}

bk-margin {
  margin-left: 10%;
}

span.bk-identity-field {
  margin-left: 1em;
}

p.bk-identity-field {
  margin: 1em;
  text-align: justify;
}

div.bk-identity-field {
  margin-left: 1em;
}

div.bk-identity-field {
  margin: 1em;
}


textarea.bk-identity-field {
  display: block;
  width: 100% !important;
  resize: none;
  overflow: auto;
}
